<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동 가이드</title>
</head>
<body>
<h3>추천 운동 띄울것임</h3>

<div id="player"></div>

<script>
    // API 키
    const apiKey = 'AIzaSyC3SDf1WoSRBup4P0c4zv37bF3zKQWlJQo';
    // 검색할 쿼리
    const query = '[[${userDTO.interest}]]운동';
    console.log(query);
    // 가져올 동영상 수
    const maxResults = 3;

    // YouTube Data API를 사용하여 비디오 검색
    fetch(`https://www.googleapis.com/youtube/v3/search?part=snippet&type=video&maxResults=${maxResults}&q=${query}&key=${apiKey}`)
        .then(response => response.json())
        .then(data => {
            // API 응답에서 상위의 세 동영상의 ID를 추출
            const videoIds = data.items.map(item => item.id.videoId);

            // 상위 세 동영상을 웹 페이지에 추가
            const playerDiv = document.getElementById('player');
            videoIds.forEach(videoId => {
                playerDiv.innerHTML += `<iframe width="560" height="315" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allowfullscreen></iframe><br>`;
            });
        })
        .catch(error => console.error('Error fetching data:', error));

</script>
</body>
</html>