<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr>
<form action="/join" method="post">
    <div>
        <input type="text" name="username" id="username" placeholder="UserName"><br>
        <label id="label1"></label>
    </div>

    <input type="password" name="password" placeholder="Password"><br>
    <input type="number" name="phone" placeholder="PhoneNumber"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <select name="role">
        <option value="ROLE_USER">회원님</option>
        <option value="ROLE_MANAGER">센터 원장님</option>
    </select><br>
    <input type="submit" value="가입하기"/>
</form>
<hr>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {

       $("#username").on("change", function() {
           var username = $("#username").val();
           console.log(username);

           if(username == '' || username.length == 0) {
               $("#label1").css("color", "red").text("공백은 ID로 사용할 수 없습니다.");
               return false;
           }

        	$.ajax({
        		url : '/confirm',
        		data : {
        			username : username
        		},
        		type : 'POST',
        		dataType : 'json',
        		success : function(result) {
        			if (result == true) {
        				$("#label1").css("color", "black").text("사용 가능한 ID 입니다.");
        			} else{
        				$("#label1").css("color", "red").text("사용 불가능한 ID 입니다.");
        				$("#id").val('');
        			}
        		},
                error: function(xhr, status, error) {
                    console.error("요청 실패:", error);
                    console.error("status:", status);
                    console.error("xhr:", xhr);
                }
        	}); //End Ajax

       }); //change-end
});//ready-end
</script>
</html>