<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr>
<form action="/join" method="post">
    <div>
        <input type="text" name="username" id="username" placeholder="UserName"><br>
        <label id="label1"></label>
    </div>

    <input type="password" name="password" placeholder="Password"><br>
    <input type="number" name="phone" placeholder="PhoneNumber"><br>
    <input type="email" name="email" id="email" placeholder="Email">


    <div class="form-group">
        <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호</button>
    </div>
    <br>
    <div id="mail_number" style="display: none">
        <input type="text" id="Confirm" name="Confirm" style="display: none" value="">
        <input type="text" name="number" id="number" style="width:250px; margin-top: -10px" placeholder="인증번호 입력">
        <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
    </div>




    <select name="role">
        <option value="ROLE_USER">회원님</option>
        <option value="ROLE_MANAGER">센터 원장님</option>
    </select><br>
    <input type="submit" value="가입하기"/>
</form>
<hr>
</body>
<script th:inline="javascript">
    $(document).ready(function() {

        // 아이디 중복확인
        $("#username").on("change", function() {
           var username = $("#username").val();
           console.log(username);

           if(username == '' || username.length == 0) {
               $("#label1").css("color", "red").text("공백은 ID로 사용할 수 없습니다.");
               return false;
           }

            $.ajax({
                type: "get",
                url: "/confirm" ,
                contentType: "application/json; charset=utf-8",
                data: { "username": username },

                success: function(result) {
                   console.log("ajax 요청 성공");
                   console.log(result);
                   if(result == "true") {
                    $("#label1").css("color", "black").text("사용 가능한 ID 입니다.");
                   } else {
                    $("#label1").css("color", "red").text("사용 불가한 ID 입니다.");
                    $("#id").val("");
                   }
                },
                error: function(xhr, status, error) {
                   console.error("요청 실패:", error);
                   console.error("xhr: ", xhr);
                }
            });
        }); //change-end
    });//ready-end


    // 이메일 인증
    function sendNumber(){
        const email = $("#email").val();

        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        if (!emailPattern.test(email)) {
            alert("이메일 형식에 맞게 입력해주세요.");
            return;
        }

        $("#mail_number").css("display","block");
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"email" : email},
            success: function(data){
                alert("인증번호 발송");
                $("#Confirm").attr("value",data);
	        }
        });

    function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 == number2){
            alert("인증되었습니다.");
        }else{
            alert("번호가 다릅니다.");
        }
    }




    }







</script>
</html>