<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>수업 예약</title>
</head>
<body>
<header>
    <h1>운동 예약 시스템</h1>
</header>

<main>
    <section id="calendar">
        <!-- 달력이 여기에 표시될 것입니다. -->
        <input type="date" id="selectedDate">
        <button class="btn btn-outline-primary" onclick="getDate()">선택</button>
    </section>

    <section id="schedule">
        <table class="table">
            <thead>
            <tr>
                <th>예약 날짜</th>
                <th>수업 시작 시간</th>
                <th>수업 종료 시간</th>
                <th>수업 이름</th>
                <th>강사 아이디</th>
                <th>예약 상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}">
                <td th:text="${lesson.reservationDate}"></td>
                <td th:text="${lesson.startTime}"></td>
                <td th:text="${lesson.endTime}"></td>
                <td th:text="${lesson.className}"></td>
                <td th:text="${lesson.instructorId}"></td>
                <td th:text="${lesson.status}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer>
    <p>&copy; 2024 운동 예약 시스템</p>
</footer>

<script>
    function getDate() {
        const selectedDate = document.getElementById("selectedDate").value;
        console.log(selectedDate); // 선택된 날짜 출력 (YYYY-MM-DD 형식)
        // 여기서 선택된 날짜를 이용하여 해당 날짜의 운동 프로그램을 가져오는 등의 작업을 수행할 수 있습니다.
        location.href = "/lesson/list/" + selectedDate;
    }
</script>
</body>
</html>