<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>Manager Service</title>
</head>
<body>
<h3>센터 원장님 전용 페이지</h3><br>

<h5>특정 회원에게 회원권 부여</h5>
<form action="/manager/save" method="post">
회원님 연락처 : <input type="number" id="phone" name="phone"><br>
회원권명 : <input type="text" id="name" name="name"><br>
횟수 : <input type="text" id="amount" name="amount"><br>
기간(일) : <input type="text" id="period" name="period"><br>
사용여부 :<select id="status" name="status">
            <option value="사용대기">사용대기</option>
            <option value="사용중">사용중</option>
            <option value="정지">정지</option>
            <option value="사용완료">사용완료</option>
        </select><br>
    <input class="btn btn-outline-info" type="submit" value="추가"/>
</form>
<button type="button" class="btn btn-outline-primary" onclick="goHome()">홈으로</button>

<script>
    // 홈으로
    const goHome = () => {
    location.href = "/";
    }
</script>
</body>
</html>