<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>식단 관리</title>
</head>
<body>
<h2>식단 관리 페이지</h2>
<form id="frmSendValue" name="frmSendValue" action="/menu/detail" method="post">
<table>
    <tr>
        <th>id</th>
        <th>writer</th>
        <th>comment</th>
        <th>category</th>
        <th>file</th>
    </tr>
    <tr  th:each="menu: ${menuList}" data-menu-id="${menu.id}">
        <td>
            <a th:href="@{|/menu/detail/${menu.id}|}" th:text="${menu.id}"></a>
        </td>
        <td th:text="${menu.menuWriter}"></td>
        <td th:text="${menu.menuComment}"></td>
        <td th:text="${menu.menuCategory}"></td>
        <td th:if="${menu.fileAttached == 1}">
        <div>
            <p th:each="fileName : ${menu.storedFileName}" style="display: inline-block; margin-right: 10px;">
                <img th:src="@{|/menu/upload/${fileName}|}" alt="" style="width:200px; height:200px;">
            </p>
        </div>
        <td th:if="${menu.fileAttached == 0}">
        X
        </td>
    </tr>
</table>
</form>

<button type="button" class="btn btn-outline-primary me-md-2" onclick="registerReq()">식단 등록</button>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    const frmSendValue = $("#frmSendValue");

    // 식단 등록
    const registerReq = () => {
        location.href = "/menu/register";
    }


    //식단 디테일로
    $('.moveDetail').on('click', function() {

        var menuId = $(this).attr('data-menu-id');
        var url = '/menu/detail?id=' + menuId;
        location.href = url;
    });


</script>
</html>