<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>식단 관리</title>
</head>
<body>
<h2>식단 관리 페이지</h2>
<form id="frmSendValue" name="frmSendValue" action="/menu/detail" method="post">
    <table>
        <tr>
            <th>날짜</th>
            <th>category</th>
            <th>file</th>
        </tr>
        <tr th:each="menu: ${menuList}" th:data-menu-date="${menu.menuCreatedTime}">
            <td>
                <a th:href="@{|/menu/detail/${menu.menuCreatedTime}|}" th:text="${menu.menuCreatedTime}"></a>
            </td>
            <td th:text="${menu.menuCategory}"></td>
            <td th:if="${menu.fileAttached == 1}">
                <div>
                    <p th:each="fileName : ${menu.storedFileName}" style="display: inline-block; margin-right: 10px;">
                        <img th:src="@{|/menu/upload/${fileName}|}" alt="" style="width:200px; height:200px;">
                    </p>
                </div>
            <td th:if="${menu.fileAttached == 0}">
                X
            </td>
        </tr>
    </table>
</form>

<button type="button" class="btn btn-outline-primary" onclick="registerReq()">식단 등록</button>
<button type="button" class="btn btn-outline-primary" onclick="goHome()">홈으로</button>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script th:inline="javascript">

    const frmSendValue = $("#frmSendValue");

    const username = [[${username}]];
    console.log(username);

    // 식단 등록
    const registerReq = () => {
        location.href = "/menu/register";
    }

    // 홈으로
        const goHome = () => {
        location.href = "/";
    }






</script>
</html>