<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>식단 관리</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/search-bar.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
<h2>식단 수정 페이지</h2>
<form id="myForm" action="/menu/update" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" th:value="${menuDTO.id}"><br>
    <input type="hidden" name="menuWriter" th:value="${menuDTO.menuWriter}"><br>
    <label>날짜 : </label><input type="date" name="menuCreatedTime" id="menuCreatedTime" th:value="${menuDTO.menuCreatedTime}"><br>
    <label>식단 구분 : </label>
    <select  name="menuCategory" id="menuCategory">
        <option value="breakfast" th:selected='${(menuDTO.menuCategory == "breakfast") ? "selected" : "" }'>아침</option>
        <option value="lunch" th:selected='${(menuDTO.menuCategory == "lunch") ? "selected" : "" }'>점심</option>
        <option value="dinner" th:selected='${(menuDTO.menuCategory == "dinner") ? "selected" : "" }'>저녁</option>
        <option value="snack" th:selected='${(menuDTO.menuCategory == "snack") ? "selected" : "" }'>간식</option>
    </select><br>
    <label>코멘트 : </label> <input type="text" name="menuComment" th:value="${menuDTO.menuComment}"><br>



    <!-- 첨부파일 결과 표시 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong style="font-size:16px;">첨부 파일</strong>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group uploadDiv">
                        <input id="inputFile" type="file" name="menuFile" formenctype="multipart/form-data" multiple /><br>
                    </div>
                    <div class="form-group fileUploadResult">
                        <ul style="list-style-type: none;">
                            <!-- 업로드 후 처리결과가 표시될 영역 -->
                        </ul>
                    </div><!-- /.fileUploadResult -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <input type="hidden" id="delFiles" name="delFiles">
    <button type="button" class="btn btn-outline-primary" onclick="submitForm()">확인</button>
    <button type="button" class="btn btn-outline-secondary" onclick="listReq()">취소</button>
</form>



</body>
<script th:inline="javascript">

    // 뒤로 (디테일페이지)
    const listReq = () => {
        const date = [[${menuDTO.menuCreatedTime}]]
        console.log(date);
        location.href = "/menu/detail/" + date;
    }



    //삭제 눌릴 때 마다 변수에 담은 후 화면단에서 안보이게
    //배열 초기화
    let deletedFiles = [];
    function deleteFile() {
        console.log("딜리트파일 함수");
        const listItem = event.target.parentElement;
        console.log(listItem);

        const fileName = listItem.querySelector('input[type="hidden"]').value;
        console.log(fileName);

        deletedFiles.push(fileName);

        listItem.remove();
    };


    // 폼 제출 이벤트 함수
    function submitForm() {
        // 폼 요소 가져오기
        const form = document.getElementById('myForm');

        // 숨겨진 입력란 가져오기
        const hiddenInput = document.getElementById('delFiles');

        // 배열을 쉼표로 구분된 문자열로 변환하여 숨겨진 입력란의 값으로 설정
        hiddenInput.value = deletedFiles.join(',');

        // 폼 제출
        form.submit();
    }









    const id = [[${menuDTO.id}]];
    console.log(id);

    //수정페이지의 게시물 표시 후, ajax로 첨부파일 정보를 가져오는 함수를 작성
	function getAttachFileInfo(){
        console.log("겟어태치파일 함수작동");
		$.ajax({

		type:"get" ,
		url: "/menu/getFiles/" + id ,
		dataType: "json" ,
        success: function(uploadResult) {
            console.log("성공..일리가..");
            showUploadResult(uploadResult) ;
        },
        error: function(xhr, status, error) {
            console.error("요청 실패:", error);
        }
		});
	}

	$(document).ready(function(){
	    getAttachFileInfo();
	}) ;


    //a.jax로 가져온 첨파결과
    function showUploadResult(uploadResult) {

		var fileUploadResult = $(".fileUploadResult ul") ;
		var htmlStr = "";

		if(!uploadResult || uploadResult.length == 0) {

			htmlStr +="<li style='font-size: 12pt;'>첨부파일이 없습니다</li>"

		} else {
            const storedFileNames = [[${menuDTO.storedFileName}]];
            console.log(storedFileNames);

            storedFileNames.forEach(function(storedFileName) {
            htmlStr += "<li>"
                    + "<input type='hidden' id='"+ storedFileName+ "' value='"+ storedFileName +"' name='storedFileName'>"
                    + "<img src='/menu/upload/" + storedFileName + "' alt='' style='width:100px; height:100px;'>"
                    + "<a href='#' onclick='deleteFile()'>삭제</a>"
                    + "</li>";
            });
		}

		fileUploadResult.append(htmlStr) ;

	}






</script>
</html>