<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/search-bar.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
<h2>식단 관리 등록하는 페이지</h2>
<form role="form" action="/menu/save" method="post" enctype="multipart/form-data">
    <input type="hidden" name="menuWriter" th:value="${username}"><br>
    <label>사진 첨부 : </label><input type="file" name="menuFile" formenctype="multipart/form-data" multiple><br>
    <label>식단 구분 : </label>
    <select name="menuCategory">
        <option value="breakfast">아침</option>
        <option value="lunch">점심</option>
        <option value="dinner">저녁</option>
        <option value="snack">간식</option>
    </select><br>
    <label>코멘트 : </label> <input type="text" name="menuComment"><br>
    <button type="submit" class="btn btn-primary me-md-2">등록</button>
    <button type="button" class="btn btn-secondary me-md-2" onclick="listReq()">취소</button>
</form>



</body>
<script th:inline="javascript">

    const listReq = () => {
        location.href = "/menu/list";
    }

    const menuWriter = [[${username}]];
    console.log(menuWriter);

    document.querySelector('form').addEventListener('submit', function(event) {
        const fileInput = document.querySelector('input[type="file"]');
        if (!fileInput.files || fileInput.files.length === 0) {
            event.preventDefault(); // 폼 제출 막기
            alert('파일을 첨부해주세요.');
        }
    });

</script>
</html>