<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>식단 관리</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h2>식단 기록 상세보기</h2>

<table>
    <tr>
        <th>식단기록 번호</th>
        <td th:text="${menu.id}"></td>
    </tr>
    <tr>
        <th>등록 날짜</th>
        <td th:text="${menu.menuCreatedTime}"></td>
    </tr>
    <tr>
        <th>구분</th>
        <td th:text="${menu.menuCategory}"></td>
    </tr>
    <tr th:if="${menu.fileAttached == 1}">
        <th>image</th>
        <td th:each="fileName : ${menu.storedFileName}">
            <img th:src="@{|/menu/upload/${fileName}|}" alt="" style="width:200px; height:200px;">
        </td>
    </tr>
</table>
<button type="button" class="btn btn-outline-primary" onclick="listReq()">목록</button>
<button type="button" class="btn btn-outline-primary" onclick="deleteReq()">삭제</button>

</body>

<script th:inline="javascript">

    // 목록으로
    const listReq = () => {
        location.href = "/menu/list";
    }

    // 게시글 삭제
    const deleteReq = () => {

        const id = [[${menu.id}]];
        const storedFileName = [[${menu.storedFileName}]];

        $.ajax({
            type: "post",
            url: "/menu/delete",
            contentType: "application/json",
            data: JSON.stringify({ id: id, storedFileName: storedFileName }),

            success: function(response) {
                console.log("삭제 요청 성공");
                alert("삭제되었습니다.");
                location.href = '/menu/list';
            },
            error: function(xhr, status, error) {
                console.error("삭제 요청 실패:", error);
            }
        });
    }

</script>
</html>