<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>식단 관리</title>
</head>
<body>
<h2>식단 관리 페이지</h2>
<table>
    <tr>
        <th>id</th>
        <th>writer</th>
        <th>comment</th>
        <th>category</th>
        <th>file</th>
    </tr>
    <tr th:each="menu: ${menuList}">
        <td th:text="${menu.id}"></td>
        <td th:text="${menu.menuWriter}"></td>
        <td th:text="${menu.menuComment}"></td>
        <td th:text="${menu.menuCategory}"></td>
        <td th:if="${menu.fileAttached == 1}">O
        </td>
        <td th:if="${menu.fileAttached == 0}">
        X
        </td>
    </tr>
</table>

<button type="button" class="btn btn-outline-primary me-md-2" onclick="registerReq()">식단 등록</button>
</body>

<script th:inline="javascript">

    const registerReq = () => {
        location.href = "/menu/register";
    }

</script>
</html>