<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <title>식단 관리</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h2>식단 기록 상세보기</h2>

<form id="frmSendValue" name="frmSendValue" action="/menu/detail" method="post">
    <table>
        <tr>
            <th>날짜</th>
            <th>category</th>
            <th>comment</th>
            <th>file</th>
        </tr>
        <tr th:each="menu: ${menuList}"
            th:data-id="${menu.id}"
            th:data-stored-file-name="${menu.storedFileName}">
            <td th:text="${menu.menuCreatedTime}"></td>
            <td th:text="${menu.menuCategory}"></td>
            <td th:text="${menu.menuComment}"></td>
            <td th:if="${menu.fileAttached == 1}">
                <div>
                    <p th:each="fileName : ${menu.storedFileName}" style="display: inline-block; margin-right: 10px;">
                        <img th:src="@{|/menu/upload/${fileName}|}" alt="" style="width:200px; height:200px;">
                    </p>
                </div>
            <td th:if="${menu.fileAttached == 0}">
                X
            </td>
            <td><button type="button" class="btn btn-outline-primary deleteBtn">삭제</button></td>
        </tr>

    </table>
    <button type="button" class="btn btn-outline-primary" onclick="listReq()">목록</button>
</form>


</body>

<script th:inline="javascript">

    // 목록으로
    const listReq = () => {
        location.href = "/menu/list";
    }

    // 특정 행 삭제
    $(".deleteBtn").on("click", function(){
        const id = $(this).parents("tr").attr('data-id');
        console.log(id);
        const storedFileName = $(this).parents("tr").attr('data-stored-file-name');
        console.log(storedFileName);


         if(confirm("정말 삭제 하시겠습니까?")){
            $.ajax({
                type: "post",
                url: "/menu/delete",
                contentType: "application/json",
                data: JSON.stringify({ id: id, storedFileName: storedFileName }),

                success: function(response) {
                    console.log("삭제 요청 성공");
                    alert("삭제되었습니다.");
                    location.href = '/menu/list';
                },
                error: function(xhr, status, error) {
                    console.error("삭제 요청 실패:", error);
                }
            });
        }

    });








</script>
</html>