<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>마이 페이지</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

</head>
<body>
<h2>마이 페이지 메인</h2>

<form id="myForm" action="/mypage/update" method="post" >
  <input type="hidden" name="id" th:value="${userDTO.id}"><br>
  유저네임(아이디) : <input type="text" name="username" th:value="${userDTO.username}"><br>
  이메일 : <input type="text" name="email" th:value="${userDTO.email}"><br>
  전화번호 : <input type="text" name="phone" th:value="${userDTO.phone}"><br>
  <input type="hidden" name="password" th:value="${userDTO.password}"><br>
  <input type="hidden" name="role" th:value="${userDTO.role}"><br>
  <input type="hidden" name="provider" th:value="${userDTO.provider}"><br>
  <input type="hidden" name="providerId" th:value="${userDTO.providerId}"><br>
  <input type="hidden" name="createDate" th:value="${userDTO.createDate}"><br>
  <input class="btn btn-outline-primary" type="submit" value="수정"/>
</form>

<button type="button" class="btn btn-outline-primary" onclick="goHome()">홈으로</button>
</body>

<script th:inline="javascript">
  // 홈으로
      const goHome = () => {
      location.href = "/";
  }


</script>
</html>