<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <title>마이 페이지</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

</head>
<body>
<h2>마이 페이지 메인</h2>

<form id="userForm" action="/mypage/update" method="post" >
  <input type="hidden" name="id" th:value="${userDTO.id}"><br>
  유저네임(아이디) : <input type="text" name="username" id="username" th:value="${userDTO.username}"><br>
  비밀번호 : <input type="password" name="password" id="password"><br>
  이메일 : <input type="text" name="email" id="email" th:value="${userDTO.email}"><br>
  전화번호 : <input type="text" name="phone" id="phone" th:value="${userDTO.phone}"><br>
  관심운동 : <input type="text" name="interest" id="interest" th:value="${userDTO.interest}"><br>
  <input type="hidden" name="role" th:value="${userDTO.role}">
  <input type="hidden" name="provider" th:value="${userDTO.provider}">
  <input type="hidden" name="providerId" th:value="${userDTO.providerId}">
  <input type="hidden" name="createDate" th:value="${userDTO.createDate}"><br>
</form>
<button type="button" class="btn btn-outline-primary" onclick="modify()">수정</button>
<button type="button" class="btn btn-outline-primary" onclick="goHome()">홈으로</button>

</body>

<script th:inline="javascript">
  // 홈으로
      const goHome = () => {
      location.href = "/";
  }


  //수정
  const modify = () => {
    var username = $("#username").val();
    var password = $("#password").val();

    if (username.length == 0 || password.length == 0) {
        alert("아이디와 비밀번호 입력은 필수입니다.");
    } else {
        document.getElementById("userForm").submit();
    }
  }

var result = [[${result}]];
console.log(result);

//결과 띄우기
if ( result == "successModify" ) {
	alert("회원정보가 수정되었습니다.");
} else if ( result == "failModify" ) {
	alert("회원정보 수정에 실패하였습니다.");
}




</script>
</html>