<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/search-bar.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>
<h2>게시글 작성</h2>
<div class="container">

    <form role="form" action="/board/save" method="post" enctype="multipart/form-data">
        writer: <input type="text" name="boardWriter"><br>
        pass: <input type="text" name="boardPass"><br>
        title: <input type="text" name="boardTitle"><br>
        contents: <textarea name="boardContents" cols="30" rows="10"></textarea><br>
        file: <input type="file" name="boardFile" formenctype="multipart/form-data" multiple><br>
        <button type="submit" class="btn btn-primary me-md-2">등록</button>
        <button type="button" class="btn btn-secondary me-md-2" onclick="listReq()">취소</button>
    </form>

</div>

</body>

<script th:inline="javascript">

    const listReq = () => {
         var pageData = localStorage.getItem('page')
        location.href = "/board/paging?page="+ pageData;
    }



</script>
</html>